* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
}

.scrollup {
    /* Start Scroll UP */
    background-color: cadetblue;
    padding: 2vh;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    cursor: pointer;
    /* End Scroll UP */
}


/* * Start of Navigation bar */

nav p {
    font-size: 2em;
}

#blink {
    animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


/* TODO: Uppersize Logo, scroll to Top, Make it Sidebar! */

nav,
nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-weight: bold;
    height: 7vh;
    background-color: aliceblue;
}

nav ul li {
    height: 100%;
    align-content: center;
    text-align: center;
    transition: ease-in 0.18s;
}

nav ul li a {
    padding: 1vh;
    margin: 0vh 1vh 0vh 1vh;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

li.list_bar:hover {
    background-color: bisque;
}


/* * End of Navigation bar */

li {
    list-style-type: none
}


/* * FONT STYLE */

.ubuntu-light {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntu-medium {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntu-bold {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntu-light-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntu-medium-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntu-bold-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-style: italic;
}